<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	  <appSettings>
      <add key="URL" value="http://localhost:8000/" />
      <add key="user" value="username" />
      <add key="password" value="MTIzNDU2YXNk" />
      <add key="projects0" value="first project" />
      <add key="projects1" value="second project" />
      <add key="projects2" value="third project" />
      <add key="projects3" value="fourth project" />
      <add key="projects4" value="fifth project" />
      <add key="projects5" value="sixth project" />
      <add key="projects6" value="" />
      <add key="projects7" value="" />
      <add key="projects8" value="" />
      <add key="projects9" value="" />
      <add key="code0" value="bt1234" />
      <add key="code1" value="bt5678" />
      <add key="code2" value="bt199" />
      <add key="code3" value="bt202" />
      <add key="code4" value="bt114" />
      <add key="code5" value="bt1" />
      <add key="code6" value="" />
      <add key="code7" value="" />
      <add key="code8" value="" />
      <add key="code9" value="" />
      <add key="valueOfProjects" value="6"/>
      <add key="automaticChecking" value="false"/>
      <add key="automaticCheckingPeriod" value="1"/>
   </appSettings>
</configuration>